[submodule "modules/openepcis-bom"]
	path = modules/openepcis-bom
	url = https://github.com/openepcis/openepcis-bom.git
[submodule "modules/openepcis-epc-digitallink-translator"]
	path = modules/openepcis-epc-digitallink-translator
	url = https://github.com/openepcis/openepcis-epc-digitallink-translator.git
[submodule "modules/openepcis-event-hash-generator"]
	path = modules/openepcis-event-hash-generator
	url = https://github.com/openepcis/openepcis-event-hash-generator.git
[submodule "modules/openepcis-model-rest"]
	path = modules/openepcis-model-rest
	url = https://github.com/openepcis/openepcis-model-rest.git
[submodule "modules/openepcis-event-hash-generator-cli"]
	path = modules/openepcis-event-hash-generator-cli
	url = https://github.com/openepcis/openepcis-event-hash-generator-cli.git
[submodule "modules/openepcis-event-hash-generator-rest-api"]
	path = modules/openepcis-event-hash-generator-rest-api
	url = https://github.com/openepcis/openepcis-event-hash-generator-rest-api.git
